@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html{
	box-sizing:border-box;

	-moz-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	-o-text-size-adjust:100%;
	text-size-adjust:100%;

	background-color: #e8e5da;
	color: #fff;
}

*, *::before, *::after {
	box-sizing: inherit;
}

.masthead {
	background-repeat: repeat;
}

.wanted {
	background-color: #87714f;
	width: 100%;
}

.headline {
	color: #111;
	text-align: center;
}

.mugshot {
	border: 1px solid #111;
}

.symbol {
	width: 20%;
	float: left;
	clear: left;
}

.stripes {
	background-repeat: repeat-x;
	background-repeat: repeat-y;
}

.star {
	width: 25%;
	display: inline-block;
}